Import necessary modules to conduct Data exploration

In [1]:
#import modules
import os
import pandas as pd
import numpy as np

Give the necessary path for a directory to carry out the work

In [2]:
#set working directory
os.chdir("C:\\Users\\madjn\\Desktop\\edwisor\\Module3\\data01s2l1")

In [3]:
#directory check
os.getcwd()

'C:\\Users\\madjn\\Desktop\\edwisor\\Module3\\data01s2l1'

Load CSV in python by skipping second row

In [4]:
#import IMDB data .csv file skipping second row
IMDB_dat=pd.read_csv("C:\\Users\\madjn\\Desktop\\edwisor\\Module3\\data01s2l1\\IMDB_data.csv",encoding='latin1',skiprows=[2])

Read few rows to see the heading of the CSV file and to make a sample sense of what is there in the file

In [5]:
#read few rows
IMDB_dat.head()

,Plot,Title,imdbVotes,Poster,imdbRating,Genre,imdbID,Year,Language
0,Despite his tarnished reputation after the eve...,The Dark Knight Rises,2679,http://ia.media-imdb.com/images/M/MV5BMTk4ODQz...,75,"Action, Thriller",tt1345836,2012,English
1,"Based on the novel written by Stephen Chbosky,...",The Perks of Being a Wallflower,1270,http://ia.media-imdb.com/images/M/MV5BMzIxOTQy...,71,"Drama, Romance",tt1659337,2012,English
2,Mike Lane is a thirty-year old living in Tampa...,Magic Mike,2580,http://ia.media-imdb.com/images/M/MV5BMTQzMDMz...,51,"Comedy, Drama",tt1915581,2012,English
3,When Bond's latest assignment goes gravely wro...,Skyfall,1807,http://ia.media-imdb.com/images/M/MV5BMjAyODkz...,68,"Action, Thriller",tt1074638,2012,English
4,Against medical advice and without the knowled...,Silver Linings Playbook,1828,http://ia.media-imdb.com/images/M/MV5BMTM2MTI5...,68,"Comedy, Drama, Romance",tt1045658,2012,English

1) Extract the unique genres and its count and store in data frame with index key.<br>   filename['varname'].unique() method finds the unique values in the column.<br>2) To count the frequency of appearance of unique values and store both unique genres and its count into a dataframe,<br>      filename['varname'].value_counts().to_frame() method in used.<br>3) after performing the above step, there is a mismatch in the column head and a missing column head to resolve this,<br>    filename['varname'].value_counts().to_frame().reset_index() method is used. this helps in resetting the column heads. 
<br>4) new dataframe column heads names are given as 'Genre' and 'count' with the below method <br>        unique_genres_count_Rename=unique_genres_count.rename(columns={'index':'unique_genres','Genre':'count'})

In [6]:
#extract unique values of GENRE  
unique_genres=IMDB_dat['Genre'].unique()  
#store it to the dataframe and reset index
unique_genres_count=IMDB_dat['Genre'].value_counts().to_frame().reset_index()
#rename columns with 'unique genres' and 'count'
unique_genres_count_Rename=unique_genres_count.rename(columns={'index':'unique_genres','Genre':'count'})
print(unique_genres_count_Rename)

                                         unique_genres  count
0                                                Drama    689
1                                               Comedy    389
2                                        Comedy, Drama    231
3                               Comedy, Drama, Romance    169
4                                               Horror    115
5                                       Drama, Romance    105
6                                      Comedy, Romance     77
7                                      Drama, Thriller     74
8                                     Horror, Thriller     68
9                               Crime, Drama, Thriller     61
10                                       Drama, Family     53
11                                Action, Crime, Drama     49
12                                        Crime, Drama     48
13                               Comedy, Drama, Family     43
14                                              Action     41
15                            Drama, Mystery, Thriller     40
16                                Comedy, Crime, Drama     33
17                                              Sci-Fi     31
18                           Horror, Mystery, Thriller     29
19                                      Drama, Mystery     28
20                                   Mystery, Thriller     27
21                                              Family     25
22                                       Action, Drama     24
23                            Adventure, Comedy, Drama     24
24                               Action, Comedy, Drama     23
25                              Comedy, Drama, Fantasy     22
26                                             Musical     21
27                                             Mystery     21
28                                               Crime     20
29                                        Drama, Music     20
..                                                 ...    ...
219         Action, Adventure, Drama, Sci-Fi, Thriller      1
220                  Action, Biography, Drama, History      1
221                             Family, Musical, Drama      1
222  Action, Drama, Musical, Mystery, Romance, Thri...      1
223            Action, Comedy, Drama, Mystery, Romance      1
224                    Action, Drama, Mystery, Romance      1
225                   Action, Adventure, Comedy, Drama      1
226          Action, Adventure, Comedy, Crime, Musical      1
227             Comedy, Drama, History, Music, Romance      1
228          Drama, Horror, Mystery, Romance, Thriller      1
229  Action, Musical, Mystery, Drama, Thriller, Rom...      1
230                                     Musical, Drama      1
231                                War, Drama, Romance      1
232                     Comedy, Crime, Drama, Thriller      1
233                         Musical, Mystery, Thriller      1
234                           Musical, Comedy, Romance      1
235                     Action, Drama, Crime, Thriller      1
236                     Drama, Music, Musical, Romance      1
237                        Musical, Drama, Action, War      1
238                    Comedy, Musical, Drama, Romance      1
239                                    Action, Musical      1
240                           Family, History, Musical      1
241                                  Horror, Adventure      1
242                     Comedy, Musical, Drama, Family      1
243                  Family, Sci-Fi, Adventure, Comedy      1
244            Drama, Romance, Musical, Comedy, Action      1
245                    Drama, Fantasy, Romance, Sci-Fi      1
246            Action, Comedy, Crime, Musical, Romance      1
247                  Action, Adventure, Comedy, Horror      1
248                    Musical, Romance, Action, Drama      1

[249 rows x 2 columns]

Convert the required data types to convert first the data types of the columns are checked using varname.dtypes(), Later 'imbdVotes' and 'imdbRating' are converted from object datatype to numeric to conduct aritmatic operations.

In [7]:
#check the data types
datatype_check = IMDB_dat.dtypes
print(datatype_check)

Plot          object
Title         object
imdbVotes     object
Poster        object
imdbRating    object
Genre         object
imdbID        object
Year          object
Language      object
dtype: object

pd.to_numeric() is used to convert object datatype to numeric ,errors are coerced.

In [9]:
IMDB_dat['imdbVotes']=pd.to_numeric(IMDB_dat['imdbVotes'],errors='coerce')
IMDB_dat['imdbRating']=pd.to_numeric(IMDB_dat['imdbRating'],errors='coerce')

 Sort the genre by its name, Genre colum is sorted in ascending alphabetical order

In [10]:
IMDB_dat.sort_values("Genre", axis = 0, ascending = True, inplace = True) 
IMDB_dat.head()

,Plot,Title,imdbVotes,Poster,imdbRating,Genre,imdbID,Year,Language
368,A secret software created by the American gove...,Lethal Commission,1084.0,http://ia.media-imdb.com/images/M/MV5BODUyNDI1...,64.0,Action,tt2319919,2012,English
298,"In this action flick, JUDE ST. CLERE discovers...",The Lackey,2672.0,http://ia.media-imdb.com/images/M/MV5BMjAwODIx...,71.0,Action,tt2197884,2012,English
3315,Eddy (Jayaprakash Reddy) is a powerful mafia l...,Nijam,803.0,NaN,6.5,Action,tt0368896,2003,Telugu
1142,Co-Director Tom Logan discusses the making of ...,Feature Commentary with Director Tom Logan,1421.0,http://ia.media-imdb.com/images/M/MV5BMTUzNDQ4...,68.0,Action,tt3099258,2013,English
1257,"In a nuclear plant disaster, five teenagers fi...",Lock Down,1887.0,http://ia.media-imdb.com/images/M/MV5BMTgwMDg1...,54.0,Action,tt2349962,2013,English

Create new variable whose values should be square of difference between imdbrating and imdbvotes ? ? arithmatic operations 'difference' and 'square' are applied on to the columns and the result is assigned to 'square of diff' ,which is added to the same data frame simultaneously.

In [11]:
#square of difference between imdbrating and imdbvotes
IMDB_dat['Square of diff']=(IMDB_dat['imdbRating']-IMDB_dat['imdbVotes'])**2
IMDB_dat.head()

,Plot,Title,imdbVotes,Poster,imdbRating,Genre,imdbID,Year,Language,Square of diff
368,A secret software created by the American gove...,Lethal Commission,1084.0,http://ia.media-imdb.com/images/M/MV5BODUyNDI1...,64.0,Action,tt2319919,2012,English,1040400.00
298,"In this action flick, JUDE ST. CLERE discovers...",The Lackey,2672.0,http://ia.media-imdb.com/images/M/MV5BMjAwODIx...,71.0,Action,tt2197884,2012,English,6765201.00
3315,Eddy (Jayaprakash Reddy) is a powerful mafia l...,Nijam,803.0,NaN,6.5,Action,tt0368896,2003,Telugu,634412.25
1142,Co-Director Tom Logan discusses the making of ...,Feature Commentary with Director Tom Logan,1421.0,http://ia.media-imdb.com/images/M/MV5BMTUzNDQ4...,68.0,Action,tt3099258,2013,English,1830609.00
1257,"In a nuclear plant disaster, five teenagers fi...",Lock Down,1887.0,http://ia.media-imdb.com/images/M/MV5BMTgwMDg1...,54.0,Action,tt2349962,2013,English,3359889.00